version: '3.1'

services:

  mongo:
    image: mongo
    restart: always
      #    environment:
      #      MONGO_INITDB_ROOT_USERNAME: root
      #      MONGO_INITDB_ROOT_PASSWORD: 1234
    ports: 
      - 27017:27017

    volumes:
      - ./data/:/data/db
      - ./logs/:/var/log/mongodb/
      - ./init-mongo.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
